.Bar2{

width: 104px;
height: 31px;
margin-left: 30%;
margin-top: 3%;



background: linear-gradient(90.13deg, #5EFF8B 0%, #86FFE2 100%);
/* Bar */

box-shadow: 0px 0px 12px #76FFC1;
border-radius: 7px;

}

