.changeEvent__screen{
	display: flex;
	flex-direction: column;

	padding-left: 11%;
	padding-right: 11%;
	padding-top: 2%;
}

.changeEvent__input {
    width: 500px;
    height: 75px;
}

.changeEvent_text {
	display: flex;
	margin-bottom: 30px;
}

.changeEvent_text h1{
	margin-top: -3.5px;
	margin-left: 6px;
}

.changeEvent__button {
	width: 500px;
	height: 68px;

	background: #0094FF;
	border-radius: 47px;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 20px;
	border: 0;

	margin-bottom: 50px;

	color: #fff;
}



.changeEvent__plus {
	position: absolute;
	margin-left: -60px;
	margin-top: 16px;
}